nav ul {
	padding: 0 10px;
}

nav ul li {
	text-align: left;
	list-style-type: none;
	border: 1px solid grey;
	padding:0 10px;
}

.hidden{
	display: none;
}

/* stile con schermo minore di 1000 */
@media screen and (max-width: 1000px) {
	body {
		max-width: 400px;
		margin: auto;
	}

	.main div{
		width: 100%;
	}

}

/* stile con schermo maggiore di 1000 */
@media screen and (min-width: 1000px) {
	body {
		max-width: 900px;
		margin: auto;
	}

	nav ul{
		display: flex;
		flex-wrap: wrap;
	}

	.main {
		display: flex;
		flex-wrap: wrap;
	}

	.main div {
		width: 33%;
	}
}
