body{
	padding: 0;
	margin: 20px auto;
	min-width: 400px;
}

header, footer {
	padding: 10px 0;
	text-align: center;
	background-color: #f1f1f1;
}

header, main, footer {
	border: 1px solid;
}

main {
	height: 80vh;
	position: relative;
}

@media (min-width: 600px) {
	body{
		width: 500px;
		margin: 20px auto;
	}
}

@media (min-width: 1000px) {
	body{
		width: 800px;
		margin: 20px auto;
	}
}
