body{
	padding: 0;
	min-width: 400px;
	align-items: center;
}

header, footer {
	padding: 10px 0 10px 0;
	text-align: center;
	background-color: #f1f1f1;
}

header, main, footer {
	border: 1px solid;
}

main {
	height: 80vh;
}

@media (min-width: 600px) {
	body{
		width: 500px;
	}
}

@media (min-width: 1000px) {
	body{
		width: 800px;
	}
}
